
SERVER_PORT=8081

DB_NAME=basedatos
DB_URL=jdbc:postgresql://postgres:5432/basedatos
DB_USERNAME=postgres
DB_PASSWORD=laContraseñaaaaaaaaaaaaa
ADMIN_EMAIL=adminsix@gmail.com
ADMIN_PASSWORD=sixsevennnn21
CORS_URL=http://localhost:5173

JWT_SECRET=contraseñauajkkfkfkafkflafakflafklfkaflkfkakafklaff
JWT_ACCESS=900000
JWT_REFRESH=604800000